.t1 {
	font-family: 'Calisto MT';
	font-size: 40px;
	color: burlywood;
	margin: auto;
	font-weight: bold;
}

.body{
	background-image: url('../image/liuliwa.jpeg');
}

.t2 {
	font-family: 'Calisto MT';
	font-size: 30px;
	color: burlywood;
	margin: auto;
	font-weight: bold;
}

.text1 {
	margin:auto;
	font-size:20px;
	text-indent:2em;
	line-height:1.8;
}


.box1 {
	border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);   
	position: relative;
	top: 80px;
	width: 722px;
	height: 352px;
	margin: 0 auto;
	overflow: hidden;
}

/* .back{
	position: relative;
	z-index: -1;
	height: 490px;
	background-color: #f2f2f2;
} */

.box {
	width: 2300px;
	height: 352px;
	animation: move 10s infinite;
}

@keyframes move {
	0% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(-740px);
	}

	60% {
		transform: translateX(-1480px);
	}

	100% {
		transform: translateX(-1480px);
	}
	
}

.box img {
	float: left;
	height: 352px;
	width: 722px;
}

.container a {
	position: sticky;
	margin-top: -15%;
	float: right;
	width: 15%;
	height: 174px;
	background: url("/image/back.png") no-repeat;
	background-position: -600px 0;
	z-index: 999;
	transform: translateY(calc(100vh + 200px));
}

	.container a:hover {
		animation: back 0.5 s steps(5) infinite;
	}

@keyframes back {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -750px 0;
	}
}

.p-bottom{
	width: 100%;
	position: absolute;
	bottom: -90px;
	left: 0;
	background-color: rgb(116, 114, 114);
	text-align: center;
}

.content{
	background-color: white;
	z-index: 10;
	top: 120px;
	position: relative;
	padding: 0 2%;
	margin: 10px 22%;
	border: 3px solid #e6e6e6;
    box-shadow: 0 0 5px rgba(224,224,224,.75);
}

.content p{
	word-wrap: break-word;
}

.guide{
	position: relative;
	top: 55px;
	padding-left: 80px;
}