*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 30px 5%;
    height: 30px;
    background-color: #ffffff;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0px 20px;
    margin-right: 10px;
}

.nav li a{
    transition: all 0.3s ease 0s;
}

.nav li a:hover{
    color: #a9844f;
}

button{
    padding: 9px 25px;
    color: #F0FFFF;
    font-family: 微软雅黑;
    font-size: 16px;
    background-color: rgb(169, 116, 9);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(169, 143, 56, 0.7);
}

.login{
    color: #000000;
    font-family: 微软雅黑;
    font-size: 16px;
    margin-left: 10px;
}

.search{
    margin: 0 40px;
    padding-top: 5px;
}

.guide{
    background-color: #f0f0e1;
    font-size: 12px;
    font-family: 华文行楷;
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.wrap {
    
    position: relative;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}

.items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  .items img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .mini-nav {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contant{
    position: relative;
    display: flex;
    top:60px;
    left: 0;
    justify-content: center;
  }
  .content-left{
    justify-content: left;
    width: 50%;
  }
  .content-right{
    justify-content: right;

  }

